body {
  margin: 0;
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
}

.page__header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 150px;
}

.page__header::after {
  content: '';
  z-index: 0;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.menu__button {
  width: 23px;
  height: 3px;
  background-color: white;
  position: relative;
  cursor: pointer;
  border: none;
  margin-right: 0;
  z-index: 10;
}

.menu__button::before, .menu__button::after {
  content: "";
  width: 23px;
  height: 3px;
  background-color: white;
  position: absolute;
  right: 0;
}

.menu__button::before {
  top: -8px;
}

.menu__button::after {
  top: 8px;
}
  
.menu__list {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  z-index: 5;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__list-item {
  margin-right: 35px;
  display: inline-block;
  z-index: 10;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.menu__logo-block, .menu__logo, div.header__motto {
  z-index: 10;
  position: relative;
}

.menu__link {
  text-decoration: none;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
}

.menu__button-label {
  display: none;
}

.header__motto {
  margin: 0 auto;
  position: relative;
  text-align: center;  
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.main__page {
  padding-top: 45px;
}

.main__trends-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Open Sans";
  color: #0f0d0e;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.main__trends-header::after {
  content: '';
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 11px;
  border: none;
  height: 4px;
  width: 67px;
  background-color: #b59f5b;
}

.main__trends-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__trends-post {
  position: relative;
  box-sizing: border-box;
  z-index: 10;
}

.main__trends-post::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 4px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.img-item {
  object-fit: cover;
  width: 100%;
}

.main__trends-text {
  position: absolute;
  left: 0px;
  width: calc(100% - 70px);
  bottom: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px;
  border: 3px solid #b59f5b;
  text-transform: uppercase;
  padding: 15px;
  z-index: 12;
}

.tags-box {
  display: flex;
  z-index: 10;
}

.tag__link {
  margin-right: 15px;
  font-weight: bold;
  font-family: "Open Sans";
  text-decoration: none;
  color: #b59f5b;
  z-index: 10;
}

.post__link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Open Sans";
  z-index: 10;
}

.main-flex {
  margin: 65px auto;
  display: flex;
  justify-content: space-between;
}

.post {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 34px;
}

.aside-posts {
  width: 300px;
}

.main-flex {
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1120px;
}

.post-text-tags {
  margin-bottom: 11px;
}

.post-text-tag {
  text-transform: uppercase;
  font-size: 14px;
  color: #b59f5b;
  font-weight: bold;
  font-family: "Open Sans";
  text-decoration: none;
  margin-right: 20px;
}

.post-text-tag:hover {
  text-decoration: underline;
}

.post-text-header {
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-weight: bold;
  font-family: 'Open Sans';
  text-transform: uppercase;
  margin-bottom: 0;
  text-decoration: none;
}

.post-text-header:hover {
  color: #b59f5b;
}

.post-text-info {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  font-size: 12px;
  font-family: "Open Sans";
  margin-bottom: 0;
}

.post-text-date {
  margin-right: 15px;
  color: #888888;
  font-weight: 400;
}

.post-text-author {
  color: #000000;
  font-weight: bold;
}

.post-text-contain {
  width: 367px;
  height: 62px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "Open Sans";
}

.aside-posts {
  display: flex;
  flex-direction: column;
}

.aside-header-text, .goods-title {
  text-transform: uppercase;
  font-family: "Open Sans";
  text-align: center;
  font-size: 14px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: bold;
}

.aside-header-text::after, .goods-title::after {
  content: '';
  display: block;
  background-color: #e1d9bd;
  width: 65px;
  height: 3px;
  border: 1px solid #e1d9bd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}

.aside-post {
  display: flex;
  margin-top: 19px;
  height: 70px;
}

.aside-post:last-child {
  margin-bottom: 60px;
}

.aside-post-photo {
  width: 70px;
  margin-right: 20px;
}

.aside-post-date {
  font-size: 12px;
  color: #888888;
  font-weight: 400;
  font-family: "Open Sans";
  margin-top: 0;
  margin-bottom: 0;
}

.aside-post-header {
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  font-family: "Open Sans";
  margin-top: 0;
  text-decoration: none;
}

.aside-post-header:hover {
  color: #b59f5b;
}

.aside-posts-search {
  display: flex;
  margin-bottom: 52px;
}

.search-field {
  width: calc(100% - 51px);
  height: 51px;
  margin-right: 0;
  border: none;
  border-radius: 0;
  background-color: #f4f7f6;
  font-size: 13px;
  font-weight: 400;
  font-family: "Open Sans";
  color: #888888;
  padding-left: 17px;
}

.search-field:focus {
  outline: none;
}

.search-button {
  width: 51px;
  border: none;
  border-radius: 0;
  background-color: #b59f5b;
}

.search-button:focus {
  outline: none;
}

.search-icon {
  height: 15px;
}

.search-text {
  display: none;
}

.aside-header {
  margin-bottom: 20px;
}

.subscribe-field {
  width: calc(100% - 15px);
  height: 50px;
  border-radius: 0;
  border: none;
  background-color: #f4f7f6;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 13px;
  font-weight: 400;
  font-family: "Open Sans";
  color: #888888;
  padding-left: 15px;
}

.subscribe-text {
  display: none;
}

.subscribe-field:focus {
  outline: none;
}

.subscribe-button {
  width: 100%;
  border: none;
  height: 55px;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Open Sans";
  background-color: #b59f5b;
  margin-bottom: 52px;
}

.fill-button {
  width: 331px;
  height: 49px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Open Sans";
  background-color: #b59f5b;
  margin-bottom: 52px;
  border: none;
}

.popup-back {
  z-index: 12;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top: 0px;
  display: none;
}


.popup-content {
  margin: 70px auto;
  width: 392px;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 20px;
}

.question {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.question-text {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
}

.question-days {
  width: 331px;
  height: 50px;
  margin: 0 auto;
  background-color: #f4f7f6;
  border: none;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
  -webkit-appearance: none;
  padding-left: 10px;
  padding-right: 25px;
  box-sizing: border-box;
}

.question-days:focus {
  width: 330px;
  height: 48px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.change-text {
  height: 133px;
  vertical-align: top;
  width: 331px;
  border: none;
  background-color: #f4f7f6;
}

.select-arrows {
  flex-shrink: 0;
  position: relative;
  right: 30px;
  top: 3px;
  bottom: 0;
}

.answer-text {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
}

.answers {
  display: flex;
  font-size: 13px;
  line-height: 13px;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
}

.answers > label {
  margin-right: 10px;
}

.answer-box {
  display: none;
}

.aside-tags-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 52px;
}

.aside-tag {
  text-transform: uppercase;
  display: block;
  font-family: "Open Sans";
  font-size: 12px;
  color: #0f0d0e;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #ededed;
  padding: 6px 13px;
  margin-right: 6px;
  margin-bottom: 6px
}

.aside-tag:hover {
  outline: solid;
  outline-offset: -3px;
  outline-width: 1px;
  outline-color: #e4decd;
}

.aside-theme-text {
  display: flex;
}

.aside-theme-name {
  font-size: 14px;
  line-height: 48px;
  color: #000000;
  font-weight: bold;
  font-family: "Open Sans";
  margin-right: 5px;
  text-decoration: none;
}

.aside-theme-name:hover {
  font-size: 14px;
  line-height: 48px;
  color: #b59f5b;
  font-weight: bold;
  font-family: "Open Sans";
  margin-right: 5px;
  text-decoration: none;
}

.aside-theme-number {
  font-size: 12px;
  color: #b59f5b;
  font-weight: bold;
  font-family: "Open Sans";
}

.aside-theme-bar {
  background-color: #eeeeee;
  height: 1px;
}

.good-text {
  outline: 3px solid #b59f5b;
  outline-offset: 30px;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goods__section {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
}

.good-button {
  color: white;
  text-transform: uppercase;
  background-color: #b59f5b;
  width: 140px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: "Open Sans";
  display: block;
  text-decoration: none;
  font-weight: bold;
}

.good-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.good {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.good-title {
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 22px;
  color: #0f0d0e;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans";
}

.good-info {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: "Open Sans";
}

.good-link {
  color: #b59f5b;
  text-decoration: none;
}

.good-link:hover {
  text-decoration: underline;
}

.good-bottom {
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.good-photo {
  width: 320px;
  margin: 10px auto;
  background-repeat: no-repeat;
}

.good-price__old {
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: bold;
  font-family: "Open Sans";
}

.good-price__new {
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-weight: bold;
  font-family: "Open Sans";
}

.socials-list {
  display: flex;
  justify-content: center;
  padding-top: 31px;
  padding-bottom: 31px;
  background-color: #f4f7f6;
  margin: 63px auto;
  max-width: 1200px;
}

.copyright {
  padding-bottom: 45px;
  text-align: center;
}

.copyright-link {
  text-decoration: none;
  font-size: 12px;
  color: #999999;
  font-weight: bold;
  font-family: "Open Sans";
}

.socials-item {
  width: 20px;
  height: 20px;
  fill: black;
  margin-right: 10px;
}

.socials-list {
  width: 1200px;
  display: flex;
  margin: 70px auto;
}

@media (min-width: 1201px) {
  .menu__button {
    display: none;
  }

  .menu__logo {
    padding-left: 100px;
  }

  .header__motto {
    width: 47vw;
    font-size: 45px;
    line-height: 75px;
    margin-top: 75px;
    font-weight: bold;
  }
 
  .full__menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu__logo-block {
    width: 158px;
  }

  .main__trends-post {
    width: 24.8%;
  }
  

  .main__trends-header {
    font-size: 20px;
  }

  .post {
    flex-direction: row;
    width: 720px;
    justify-content: space-between;
  } 

  .page__header {
    padding-top: 3vw;
    background-image: url(../images/banner-bg.jpg);
  }

  .main-flex {
    flex-direction: row;
  }

  .post-photo {
    width: 340px;
  }

  .post-text {
    width: 340px;
  }

  .aside-posts {
    width: 284px;
  }

  .goods__section {
    display: flex;
    justify-content: space-around;
    max-width: 1120px;
    margin: 0 auto;
  }

  .good:nth-child(2) {
    margin-right: 60px;
    margin-left: 60px;
  }

  .good {
    max-width: 300px;
  }

  .good-text {
    max-width: 300px;
  }

  .good-photo {
    width: 300px;
    height: 200px;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .page__header {
    padding-top: 50px;
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  ul.menu__list {
    display: none;
  }
  
  nav.menu {
    display: flex;
    justify-content: flex-end;
  }
  
  .full__menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .menu__logo-block {
    width: 158px;
  }

  .menu__logo {
    padding-left: 10px;
  }
  
  .full__menu {
    justify-content: space-between;
  }

  .header__motto {
    width: 500px;
    font-size: 40px;
    line-height: 55px;
    margin-top: 98px;
    font-weight: bold;
  }

  .main-flex {
    padding-left: 35px;
    padding-right: 35px;
  }

  .posts-list {
    width: 300px;
  }

  .post-photo {
    width: 100%;
  }

  .main-flex {
    flex-direction: row;
  }


  .post {
    flex-direction: column;
  }

  .post-photo {
    width: 100%;
    min-width: 360px;
  }

  .post-text {
    width: 100%;
    min-width: 360px;
  }

  .aside-posts{
    width: 260px;
  }

  .goods__section {
    display: flex;
    flex-wrap: wrap;
    padding-left: 35px;
    padding-right: 35px;
    justify-content: space-between;
  }

  .good-photo {
    width: 295px;
    height: 220px;
  }

  .good-text {
    width: 295px;
  }

  .good {
    max-width: 295px;
    margin: 25px;
  }

  .socials-list {
    width: 700px;
  }
}

@media (max-width: 640px) {
  ul.menu__list {
    display: none;
  }
  
  nav.menu {
    display: flex;
    justify-content: flex-end;
  }

  .menu__logo-block {
    width: 75vmin;
  }

  .menu__logo-block {
    width: 75vmin;
    margin-top: 45vmin;
    margin-left: auto;
    margin-right: auto;
  }

  .header__motto {
    width: 77vmin;
    font-size: 26px;
    line-height: 36px;
    margin-top: 33px;
    font-weight: bold;
  }

  .main-flex {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }

  .post {
    width: 100%;
  }

  .page__header {
    padding-top: 9vmin;
    background-image: url(../images/banner-mobile.jpg);
  }

  .aside-posts {
    width: 100%;
  }

  .post {
    flex-direction: column;
  }

  .post-photo {
    width: 100%;
    min-width: 360px;
  }

  .post-text {
    width: 100%;
    min-width: 360px;
  }

  .goods__section {
    padding: 0;
    margin: 0 auto;
    width: 285px;
    display: flex;
    flex-direction: column;
  }

  .good {
    margin-bottom: 50px;
    width: 100%;
  }

  .good-photo {
    width: 285px;
    height: 285px;
    margin: 0 auto;
  }

  .socials-list {
    width: 331px;
  }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .main__trends-post {
    width: 24.8%;
  }
  
  .main__trends-header {
    font-size: 18px;
  }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
  .main__trends-post {
    width: 49.6%;
    font-size: 18px;
    margin-bottom: 4px;
  }
  
  .main__trends-header {
    font-size: 18px;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .main__trends-post {
    width: 49.6%;
    font-size: 16px;
    margin-bottom: 3px;
  }
  
  .main__trends-header {
    font-size: 16px;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .main__trends-post {
    width: 100%;
    font-size: 16px;
    margin-bottom: 3px;
  }
  
  .main__trends-header {
    font-size: 16px;
  }
}